@font-face{
    font-family: OpenSans;
    src: url('./fonts/OpenSans-Regular.ttf');
}

body{
    font-family: OpenSans;
    margin:0;
}

.nav{
    background-color: rgb(34, 229, 255);
    justify-content: center;
    display:flex;
    height:3.5rem;
    position:fixed;
    top:0;
    left:0;
    right:0;
    
}

.cropper{
    margin-top: 2rem;
}

.btns{
    display:flex;
    margin-bottom: 2rem;

}

#cancel{
    color:grey;
    background: rgb(211, 211, 211);
}

.btn_{
    cursor: pointer;
    margin:0.4rem;
    font-size:1rem;
    color:white;
    background: rgb(34, 229, 255);
    padding:0.2rem;
    text-align: center;
    width:5rem;
    border-radius: 100px;
}

.crop-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:30rem;
    width:20rem;
    position:absolute;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(4px);
    border-radius:5px;
    z-index:1;
}

.main-img{
    height:8rem;
    width:8rem;
}

.add-border{
    border:2px solid rgb(34, 229, 255);
}

.prev-img{
    margin-bottom:1rem;
    border-radius:100px;
    border:2px dashed rgb(34, 229, 255);
    height:8rem;
    width:8rem;
}

.label{
    margin-bottom:4rem;
    font-size:1.3rem;
    font-weight:bold;
}

.adduser{
    cursor: pointer;
    text-align: center;
    padding:0.5rem;
    border-radius: 100px;
    background: rgb(34, 229, 255);
    color:white;
}

.bttn{
    margin-bottom:4rem;
    border-radius:100px;
    color:white;
    text-align: center;
    width:7.2rem;
    padding:0.4rem;
    background: rgb(34, 229, 255);
}


.uname{
    padding-left:0.5rem;
    border-radius:100px;
    width:90%;
    margin-bottom:0.5rem;
    height:1.8rem;
    border:1px solid rgb(34, 229, 255);
}

.name{
    border-radius:100px;
    width:90%;
    margin-bottom:0.5rem;
    height:1.8rem;
    border:1px solid rgb(34, 229, 255);
}

.upload{
    display: flex;
    flex-direction: column;
    background: white;
    height:30rem;
    width:20rem;
    border-radius:6px;
    padding:0.5rem;
    align-items: center;
    justify-content: flex-end;
}





.add-button{
    color:white;
    border:2px solid white;
    text-align: center;
    padding:0.4rem;
    border-radius:100px;
    cursor:pointer;
    width:8rem;
}
.middle_{
    margin-right:0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box_{
    flex:1;
}
.container-1{
    display:flex;
    margin:0.3rem;
    padding-top:4rem;
}
.middle{
    flex:1;
}
.box{
    flex:2;
}
.user{
    border-bottom: 1px solid rgb(240, 240, 240);
    display: flex;
    padding-top: 0.4rem;
    padding-bottom:0.4rem;
}

.tagname{
    margin-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.active{
    color:rgb(34, 229, 255)
}

.name{
    font-size: 1.1rem;
    font-weight: bold;
}

.inactive{
    color:rgb(173, 173, 173)
}
.testimg{
    border:3px solid rgb(34, 229, 255);
    background-color: rgb(250, 252, 252);
    height: 4rem;
    width:4rem;
    border-radius: 100px;
}

.right{
    display: flex;
    align-items: center;
   
}

.wide{
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.remove, .follow{
    cursor: pointer;
    font-size:0.8rem;
    text-align: center;
    border-radius: 100px;
    padding:0.3rem;
    width:4rem;
}
.remove{
    margin-left: 0.4rem;
    border:1px solid rgb(34, 229, 255);
    color: rgb(34, 229, 255);
}
.follow{
    margin-left: 0.4rem;
    background-color: rgb(34, 229, 255);
    color: white;
}

.ques{
    margin:1rem;
    font-weight: bold;
    font-size: 1rem;
}
.mod{
    height:6rem;
    width:6rem;
}
.sides{
    display: block;
}
.prompt{
    background-color: white;
    height:20rem;
    width:20rem;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yes,.no{
    cursor: pointer;
    color:white;
    background-color: rgb(34, 229, 255);
    width:10rem;
    text-align: center;
    padding:0.3rem;
    margin:0.3rem;
    border-radius: 100px;
}


.modal{     
    background-color: rgba(163, 163, 163, 0.747);
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display: flex;
    justify-content:center;
    align-items: center;   
}

.inv{
    display:none;
}

.opt{
    display: flex;
    justify-content: space-between;
    width:50%;
}

/* .upload{
    
    
} */
@media screen and (max-width: 768px){
.sides{
    display: none;
}

.sides_{
    display: none;
}

.add-button{
    padding:0.4rem;
    font-size:0.9rem;

}

.listname{
    font-size: 0.9rem;
    font-weight: bold;
}

.remove, .follow{
    cursor: pointer;
    font-size:0.9rem;
    text-align: center;
    border-radius: 100px;
    padding:0.3rem;
    width:4rem;
}

.testimg{
    border:3px solid rgb(34, 229, 255);
    background-color: rgb(250, 252, 252);
    height: 3.5rem;
    width:3.5rem;
    border-radius: 100px;
}

.mod{
    height:6rem;
    width:6rem;
}

.active{
    color:rgb(34, 229, 255);
    font-size:0.9rem;
}

.dev{
    position: fixed;
    bottom:0;
}
}