
@font-face {
    font-family: OpenSans ;
    src: url('./fonts/OpenSans-Regular.ttf');
}

body{
    background-color:#bc5af0;
    color:white;
    font-family: OpenSans;
}



.heading{
    text-align: center;
    margin-top:1.5rem;
    font-size:2rem;
}

.box{
    margin:0.2rem;
    display:flex;
    background-color: white;
    color:black;
    border-radius:100px;
    width:30%;
    cursor: pointer;
}

.inactive{
    color:red;
}
.btns{
    display: flex;
    width:100%;
    justify-content: center;
    
}
.status{
    color:rgb(115, 30, 194);
    font-size:0.9rem;
}
.name{
    font-weight: bold;
}

.info{
    padding-left:0.5rem;
    margin-top:0.4rem;
}

.circle-btn{
    height:2.4rem;
    width:2.4rem;
    border-radius:100px;
    background-color:rgb(220, 167, 255);
    position:absolute;
    right:46%;
    
}

.msg{
    background-color:rgb(220, 167, 255);
    color:white
}

.profimg{
    border:4px solid rgb(220, 167, 255);
    height:4rem;
    width:4rem;
    border-radius:100px;
}
.mainimg{
    border:4px solid rgb(220, 167, 255);
    height:8rem;
    width:8rem;
    border-radius:100px;
    
}

.container-1{
    display:flex;
    flex-wrap: wrap;
    
}
.container-2{
    
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    
}

.mainimg, .fullname, .email, .bttn{
    margin-bottom:0.4rem;
}

.bttn{
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    color:black;
    border-radius:100px;
    padding-top:0.5rem;
    font-weight: bold;
    padding-bottom:0.5rem;
    margin-left:1%;
    width:40%;
    margin-right:1%;
}

.email{
    color:rgb(221, 221, 223);
    margin-bottom:0.8rem;
}
.fullname{
    font-size:2rem;
}

.modal{
    display: flex;
    justify-content: center;
    padding-top:9em;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
    display:none;
}

.visible{
    display:block;
}

.invisible{
    display:none;
}

@media  screen and (max-width: 768px){

    .fullname{
        font-size:2rem;
    }

    .heading{
        
        font-size:1.3rem;
    }

    .circle-btn{
        
        right:41%;
        
    }
    
    

    .bttn{
        /* margin-left:3rem;
        margin-right:3rem; */
    }
    .container-1{
    margin-top:2rem;
    margin-left:0em;
    margin-right: 0em;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
    }

    .profimg{
        height:4.5rem;
        width:4.5rem;
    }

    .box{
        width:95%;
    }

    .profimg{
    border:2px solid rgb(220, 167, 255);
    height:3rem;
    width:3rem;
    border-radius:100px;

}

.info{
    margin-top:0.2rem;
    padding-left:0.2rem;
}
.name{
    font-size:0.9em;
    
}

}