@font-face{
    font-family: OpenSans;
    src: url('./fonts/OpenSans-Regular.ttf');
}

body{
    font-family: OpenSans;
}

.container-1{
    display:flex;
}
.middle{
    flex:1;
}
.box{
    flex:2;
}
.user{
    border-bottom: 1px solid rgb(240, 240, 240);
    display: flex;
    padding-top: 0.4rem;
    padding-bottom:0.4rem;
}

.tagname{
    margin-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.active{
    color:rgb(34, 229, 255)
}

.name{
    font-size: 1.1rem;
    font-weight: bold;
}

.inactive{
    color:rgb(238, 239, 240)
}
.testimg{
    border:3px solid rgb(34, 229, 255);
    background-color: rgb(250, 252, 252);
    height: 4rem;
    width:4rem;
    border-radius: 100px;
}

.right{
    display: flex;
    align-items: center;
   
}

.wide{
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.remove, .follow{
    cursor: pointer;
    font-size:0.8rem;
    text-align: center;
    border-radius: 100px;
    padding:0.2rem;
    width:4rem;
}
.remove{
    margin-left: 0.4rem;
    border:1px solid rgb(34, 229, 255);
    color: rgb(34, 229, 255);
}
.follow{
    margin-left: 0.4rem;
    background-color: rgb(34, 229, 255);
    color: white;
}

.ques{
    margin:1rem;
    font-weight: bold;
    font-size: 1rem;
}
.mod{
    height:6rem;
    width:6rem;
}
.sides{
    display: block;
}
.prompt{
    background-color: white;
    height:20rem;
    width:20rem;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yes,.no{
    cursor: pointer;
    color:white;
    background-color: rgb(34, 229, 255);
    width:10rem;
    text-align: center;
    padding:0.3rem;
    margin:0.3rem;
    border-radius: 100px;
}


.modal{     
    background-color: rgba(163, 163, 163, 0.747);
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display: flex;
    justify-content:center;
    align-items: center;   
}

.inv{
    display:none;
}

.opt{
    display: flex;
    justify-content: space-between;
    width:50%;
}

@media screen and (max-width: 768px){
.sides{
    display: none;
}
}